$theme-color: purple;

.landing, .button, .navbar-fixed-top {
	background-color: $theme-color;
}
.index-container li a, .menu a, .menu a:visited, .navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, a, ul.nav li.dropdown:hover>a {
	color: $theme-color;
}
a:active, a:hover, .menu a:hover{
	color: darken($theme-color, 10%);	
}
 .tt-menu:before {
 	border-bottom-color: $theme-color;
 } 
.paginationLink {
	border-color: $theme-color;
}
.paginationLink:hover {
	background: $theme-color;
	border-color: darken($theme-color, 10%);
}